*{
	padding: 0;
	margin: 0;
}

#content{
	border: 1px solid black;
	width: 225px;
	margin: auto;
	margin-top: 30px;
	padding:  0 4px 0 4px;
	font-size: 10px;
}

.lineFat{
	border-top: 8px solid black;
}

.lineBold{
	border-top: 4px solid black;
}

.lineNormal{
	border-top: 1.5px solid black;
}

.lineGrey{
	border-top: 2px solid lightgrey;
}

.narrow{
	width: 35px;
	height: auto;
	text-align: right;
}

.wide{
	margin: 0;
}

.indented{
	margin-left: 10px;
}

.innerBoxRight{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.parts{	/* simplify if possible */
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.bottom{
	width: 45px;
}

.padIndent{
	padding-left: 10px;
}

#footer{
	justify-content: center;
}

.footerSpacing{
	padding: 0 3px 4px 3px;
}

.finePrint{
	font-size: 8px;
}
.newDiv{
	display: flex;

	justify-content: space-around;
}
.bold{
	font-weight: bold;
}